body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #5a4d4d;
  color: #7e13c6;
}

header {
  background-color: rgb(135, 168, 174);
  color: white;
  text-align: center;
  padding: 1.5rem;
}

main {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
}

h2 {
  color: rgb(135, 168, 174);
}

p {
  color: white;
}

.tutos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
}

.tuto-button {
  padding: 1rem;
  background-color: #ffffff;
  border: 2px solid rgb(135, 168, 174);
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tuto-button:hover {
  background-color: #e6f0ff;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #ddd;
  margin-top: 2rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  height: 100%;
}

.retour-button {
  background-color: rgb(135, 168, 174); /* violet comme le texte */
  color: white;
  border: none;
  font-weight: bold;
}

.retour-button:hover {
  background-color: rgba(135, 168, 174, 0.5);
}

.navigation {
  position: absolute;
  bottom: 0vh;
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #dddddd00;
}

.navigation button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: rgba(135, 168, 174, 0.75);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.navigation button:hover:not(:disabled) {
  background-color: rgba(135, 168, 174, 0.25);
}

.choix-etape button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: rgba(135, 168, 174, 0.75);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
}

#tuto-container {
  text-align: left;
  display: block;
  margin: 0;
  padding: 0;
}

.etape {
  text-align: left; /* si chaque étape est un div avec cette classe */
  margin: 0;
  padding: 0;
}